/* Container für die Seite */
.contactContainer {
  background: linear-gradient(to bottom, #08133c, #1a2453);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  /*max-width: 1400px;*/
  width: 100vw;
  padding: 10px 30px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 20px 20px;
  color: white;
  box-sizing: border-box;
  margin-top: 5px;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: auto;
  margin-left: -20px;
  gap: -10px;
}

.logo {
  margin-left: -45px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
  font-family: "Roboto Condensed", sans-serif;
}

/* Titel */
.contactTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Untertitel */
.contactSubtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
  max-width: 600px;
}

/* Kontaktformular */
.contactForm {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 500px;
}

/* Eingabefelder und Labels */
.formGroup label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formGroup input,
.formGroup textarea {
  padding: 10px;
}

.input,
.textarea {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Textarea Styling */
.textarea {
  resize: none;
  height: 100px;
}

/* Button */
.submitButton {
  background: linear-gradient(to right, #28a745, #218838);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submitButton:hover {
  background: linear-gradient(to right, #218838, #28a745);
}

.backToHome {
  margin-top: 20px;
  text-align: center;
}

.backToHome a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.backToHome a:hover {
  color: #0a5ec7;
}
